body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 20px 10px;
    text-align: center;
}

li a:hover {
    color: white;
    background-color: turquoise;
}

li a.active {
    color: white;
    background-color: #04aa6d;
}

li a:hover:not(.active) {
    background-color: rgb(143, 56, 56);
}